*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
  }

  
  body{
    background-color: #2d0101;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
  }
