.page-header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .logo {
    margin: 10px;
    margin-right: auto;
  }
  
  .head {
    flex: 1;
    text-align: center;
  }
  
  .navbar {
    display: inline-block;
  }
  
  .navbar a {
    margin: 0 30px;
    font-size: 21px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'Poppins';
  }
  
  .navbar a:hover,
  .navbar a:active {
    color: #ff9011;
  }
  
  .logo-img {
    width: 80px;
  }
  
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }
  
  .btns a {

    gap: 7px;
    position: relative;
    display: flex;
    padding: 7px 12px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .blue-btn {
    background-color: #3a4affd4;
    color: #000000;
    border-radius: 21px;
  }
  
  .blue-btn:hover {
    background-color: #6874ffd4;
    color: black;
   }
  