@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.Homepagetry {
    position: relative;
    display: block;
    height: 80vh;
    width: 100%;
}

h1.title {
    font-family: "Fredericka the Great", serif;
    font-size: 100px;
    text-align: center;
    z-index: 1000;
    margin-top: 200px;
}

.laptop, .keys, .Wallet, .Wallet1, .bottle, .mobile, .mobile1, .headphone, .watch, .Bag, .pen, .pen1, .pen2, .pendrive , .cloth, .headphone1, .pendrive1, .bottle1 {
    width: 300px;
    display: flex;
    position: absolute;
}

.laptop {
    margin-left: -120px;
    margin-top: 90px;
    width: 500px;
}

.keys {
    left: 430px;
    top: -150px;
}

.Wallet {
    left: 830px;
    top: 70px;
}

.Wallet1 {
    left: 80px;
    top: -210px;
}

.Bag {
    left: 130px;
    top: 70px;
}

.mobile {
    margin-left: -60px;
    margin-top: -170px;
}

.mobile1 {
    margin-left: 950px;
    margin-top: 100px;
    rotate: 250deg;
    width: 200px;
}

.headphone {
    margin-left: 500px;
    margin-top: 80px;
}

.headphone1 {
    margin-left: 70px;
    margin-top: -20px;
    width: 800px;
}

.watch {
    left: 930px;
    top: -150px;
}

.pen {
    margin-left: -20px;
    margin-top: -320px;
    rotate: 50deg;
    width: 200px;
}

.pen1 {
    margin-left: -10px;
    margin-top: -50px;
}

.pen2 {
    margin-left: 1200px;
    margin-top: -200px;
    rotate: 1750deg;
}

.bottle {
    margin-left: 1200px;
    margin-top: 100px;
    rotate: 1750deg;
}

.bottle1 {
    margin-left: 1100px;
    margin-top: -500px;
    width: 400px;
    rotate: 30deg;
}

.pendrive {
    margin-left: 700px;
    margin-top: 100px;
}

.pendrive1 {
    margin-left: 1150px;
    margin-top: -90px;
    rotate: 1750deg;
    width: 175px;
}

.cloth {
    margin-left: 700px;
    margin-top: -300px;
}
